{% extends 'base.html' %}

{% block content %}

    <!-- Start Register Section-->
    <div class="login-register-div">
        <div class="login-register-box">
            <h1>Petstagram</h1>

            <!-- Start Register Form-->
            <form action="">
                <input type="text" placeholder="Username"><br>
                <input type="email" placeholder="Email"><br>
                <input type="password" placeholder="Password"><br>
                <input type="password" placeholder="Repeat Password"><br>

                <!-- Register Button-->
                <button type="submit">Register</button>
            </form>
            <!-- End Register Form -->

        </div>
        <div class="second-option"><p>Have an account?

            <!-- Link to Login Page-->
            <a href="#">Log in</a></p>
        </div>
    </div>
    <!-- End Register Section-->

{% endblock %}
