{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="pet-profile">
        <div class="profile">
            <div class="profile-data">
                <div class="profile_img">
                    <div class="image">
                        <img src="{{ pet.personal_photo }}"
                             alt="img8">
                    </div>
                </div>
                <div class="personal">
                    <div class="edit">
                        <p>{{ pet.name }}</p>
                        <a href="{% url "edit-pet" "username" pet.slug %}">
                            <img class="edit-img" src="{% static "images/edit-pen-icon-6.jpg" %}" alt="edit button">
                        </a>
                        <a href="{% url "delete-pet" "username" pet.slug %}">
                            <img class="bin-img" src="{% static "images/icon-remove-22.jpg" %}" alt="bin button">
                        </a>
                    </div>
                    <div class="data">
                        <span>{{ all_photos.count }}</span>
                        <p>photos</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="pet-posts">
            {% if all_photos %}
            <!-- Start if pet photos -->
            {% include 'common/pets-posts.html' %}
            <!-- End if pet photos -->
            {% else %}
            <!-- Start if not pet photos -->
            <img class="no-posts" src="{% static "images/no_posts.png" %}" alt="no posts image">
            <!-- End if not pet photos -->
            {% endif %}
        </div>
    </div>

{% endblock %}
